@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

@logo-blue: #3FA9F5;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
  color: black;
  font-family: 'Crimson Text', serif;
}

#header {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 2% 0;
  position: relative;
  display: block;
  background-color: white;
  text-align: center;
}

.logo {
  width: 50%;
  height: 100%;
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
  display: block;
  background-image: url('/img/Cohort 5 full logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white;
  text-align: center;
}

#webdev {
  width: 100%;
  height: 10%;
  padding: 2% 0;
  border-bottom: 1px solid white;
  text-align: center;
  background-color: #160606;
}

.webdevText {
  width: 50%;
  height: 100%;
  margin: 0 25%;
  position: relative;
  display: block;
  background-image: url('/img/webdev-white.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

#whoAreWe {
  background-color: #160606;
  color: white;
  padding: 5%;
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

#work {
  text-align: right;
  padding: 5%;
  background-color: white;
  color: black;
  border-bottom: 2px solid black;
}

h1.clients {
  text-align: center;
  margin-top: 5%;
}

.dart, .mac, .ss, .ftb {
  width: 100%;
  height: 20%;
  margin: 4% 0;
  position: relative;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;

}

.dart {
  background-image: url('/img/DART-logo.svg');
}

.mac {
  background-image: url('/img/mslogo-black.svg');
}

.ss {
  background-image: url('/img/SSlogo.svg');
}

.ftb{
  background-image: url('/img/feedthebirdslogo.jpg');
}

.no5 {
  width: 20%;
  height: 20%;
  position: relative;
  left: -5%;
  background-image: url('/img/no5.svg');
  background-size: cover

}
