extends ../shared/template

block content

  #whoAreWe
    h1 Who are we?
    h2 Our company originated from the 5th cohort of the Nashville Software School. As we developed our skills and learned more about the world of web development, as well as one another, we found that we had the perfect team to tackle any job. From design to databases, back end to front end, we had it covered. Now we are a team of award winning devs having developed everything from civil applications for the city of Nashville, to games and audio players.

  #ourPeople
    .ourTeamText.sectionHeader
    #people

  #work
    h1 Who do we work with?
    h2 We are now taking work from small companies, businesses, and individuals. For more information on working with us, please contact us at: <p style='color:#3FA9F5'>cohortno5@gmail.com</p>

  #clients
    .ourClientsText.sectionHeader
    .clientContainer
      .dart.client
      .desc
        h3 Digital Music Distribution: Shouldn't everyone have the opportunity to sell their music online?
    .clientContainer
      .mac.client
      .desc
        h3 Nashville's premier macaron source.
    .clientContainer
      .ss.client
      .desc
        h3 Built by a team of Nashville Software School Students, Sweetspot shows the effects of gentrification in Nashville.
    .clientContainer
      .ftb.client
      .desc
        h3 Good ole' Rock n' Roll.

  //.no5
